<title>Oponente</title>
<link rel="stylesheet" href="/public/css/vistas/desafiarStyle.css">
<link rel="stylesheet" href="/public/css/componentes/headerComponente.css">
<body>
    <header class="header"> 
        <h2 class="titulo">Preguntados</h2>
        <div class="user-info">
            <form method="POST" action="/Preguntados/inicio/logout">
            <input class="logout-btn" type="submit" value="Cerrar sesión">
            </form>
            <p class="username">{{usuario}}</p>
            <img src="/{{foto_perfil}}" alt="{{usuario}}">
        </div>
    </header>
<main class="container">
    <h1>Elegí a que amigo desafiar</h1>
    <div>
        <section class="tabla">
  <div class="oponentes-lista">
    {{#usuarios}}
      <div class="card">
        <div class="card-left">
          {{#foto_perfil}}
            <img src="/{{foto_perfil}}" alt="{{usuario}}">
          {{/foto_perfil}}
          {{^foto_perfil}}
            <img src="/public/imagenes/usuarioImagenDefault.png" alt="{{usuario}}">
          {{/foto_perfil}}

          <div class="card-info">
            <span class="usuario">{{usuario}}</span>
            <span class="nombre">{{nombre_completo}}</span>
            <span class="pais">{{pais}}</span>
          </div>
        </div>

        <div class="card-right">
        <form method="POST" action="/partida/iniciarPartida">
          <input type="hidden" name="id_oponente" value="{{id}}">
          <button type="submit" class="btn-cambiar">Desafiar</button>
        </form>
        </div>
      </div>
    {{/usuarios}}
  </div>
</section>

        <div class="text-center mt-5">
            <a href="/inicio" class="btn btn-secondary">Volver</a>
        </div>
    </div>
</main>
</body>