    <title>Login</title>
    <link rel="stylesheet" href="/public/css/loginStyle.css">
</head>

<body>
<a href="/paginaPrincipal"><img src="/public/imagenes/Logo.png" alt="logo" class="logo"></a>
<h1>Vista editor WIP</h1>
<p class="subtitle">Debe existir un tipo de usuario editor, que le permite dar de alta, baja y modificar las preguntas. A su vez puede revisar las preguntas reportadas, para aprobar o dar de baja, y aprobar las preguntas sugeridas por usuarios.</p>
<div>
    <a href="/preguntasLista?tipo=reportes">Ver reportes de preguntas</a> <br>
    <a href="/preguntasLista?tipo=sugeridas">Ver preguntas sugeridas</a> <br>
    <a href="/preguntasLista?tipo=activas">Ver preguntas activas</a> <br>
    <a href="/nuevaPregunta/">Crear una pregunta nueva</a> <br>
    <a href="/inicio/">Volver</a>
</div>

