<title>Inicio</title>
<link rel="stylesheet" href="/public/css/inicioStyle.css">
</head>

<body>
<img src="/public/imagenes/Logo.png" alt="logo" class="logo">
<form method="POST" action="/Preguntados/inicio/logout">
    <input class="logout-btn" type="submit" value="Cerrar sesión">
</form>

<div class="container">
    <h2>Bienvenido al inicio!</h2>
    <p>Usuario: {{usuario}}</p>
</div>

