<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Administrador</title>
    <link rel="stylesheet" href="/public/css/vistas/adminStyle.css">
    <link rel="stylesheet" href="/public/css/componentes/headerComponente.css">
</head>

<body>
  <header class="header"> 
    <h2 class="titulo">Preguntados</h2>
    <div class="user-info">
        <form method="POST" action="/Preguntados/inicio/logout">
        <input class="logout-btn" type="submit" value="Cerrar sesión">
        </form>
        <p class="username">{{usuario}}</p>
        {{#foto_perfil}}
            <img src="/{{foto_perfil}}" alt="{{usuario}}" class="img-fluid rounded-circle" width="50" height="50">
        {{/foto_perfil}}

        {{^foto_perfil}}
            <img src="/public/imagenes/usuarioImagenDefault.png" alt="{{usuario}}" class="img-fluid rounded-circle" width="50" height="50">
        {{/foto_perfil}} 
    </div>
  </header>

<main class="container">

    <h1>Panel de Administración</h1>
    <div class="chart-card">
        <h3>Usuarios por periodo</h3>
        <img src="{{grafUsuariosPeriodo}}" class="jpgraph-img">
    </div>

    <section class="stats">
        <div class="mini-cards">
            <div class="card">
                <p>{{usuariosNuevos}}</p>
                <h3>Total de jugadores</h3>
            </div>

            <div class="card">
                <p>{{partidasJugadas}}</p>
                <h3>Partidas jugadas</h3>
            </div>

            <div class="card">
                <p>{{preguntasTotales}}</p>
                <h3>Preguntas totales</h3>
            </div>

            <div class="card">
                <p>{{preguntasReportadas}}</p>
                <h3>Preguntas reportadas</h3>
            </div>
        </div>

    </section>

    <section class="tabla">
        <h2>Gestión de Usuarios</h2>

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Mail</th>
                <th>Nombre completo</th>
                <th>Año nacimiento</th>
                <th>Sexo</th>
                <th>Pais</th>
                <th>% Correctas</th>
                <th>Rol</th>
                <th>Editar</th>
            </tr>
            </thead>

            <tbody>
            {{#usuarios}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{usuario}}</td>
                    <td>{{mail}}</td>
                    <td>{{nombre_completo}}</td>
                    <td>{{anio_nacimiento}}</td>
                    <td>{{sexo}}</td>
                    <td>{{pais}}</td>
                    <td>{{porcentaje_correctas}}</td>
                    <td>{{rol}}</td>
                    <td>
                        {{#esJugador}}
                            <form method="POST" action="/inicioAdmin/cambiarRol">
                                <input type="hidden" name="id_usuario" value="{{id}}">
                                <button type="submit" class="btn-cambiar">Hacer editor</button>
                            </form>
                        {{/esJugador}}

                        {{^esJugador}}
                            <span class="badge">{{rol}}</span>
                        {{/esJugador}}
                    </td>
                </tr>
            {{/usuarios}}
            </tbody>
        </table>
    </section>

    <section class="tabla">
        <h2>Gestion de categorias</h2>

        <table>
            <thead>
                <tr>
                    <th>Nombre de categoria.</th>
                    <th>% De aciertos</th>
                    <!--<td>Eliminar</td>-->
                </tr>
            </thead>

            <tbody>
                {{#categorias}}
                    <tr>
                        <td>{{nombre}}</td>
                        <td>{{promedio_nivel}}</td>
                        <!--<td>
                            <form method="POST" action="/inicioAdmin/eliminarCategoria">
                                <input type="hidden" name="id_usuario" value="{{id}}">
                                <button type="submit" class="btn-cambiar">Hacer editor</button>
                            </form>
                        </td> -->
                    </tr>
                {{/categorias}}
            </tbody>
        </table>

        <form method="POST" enctype="multipart/form-data" action="/inicioAdmin/crearCategoria">
            {{#mensajeCat}}
                <div><p>{{mensajeCat}}</p></div>
            {{/mensajeCat}}

            <label for="categoriaNombre">Nombre de categoria: </label>
            <input type="text" name="categoriaNombre" id="categoriaNombre" placeholder="Nombre de categoria">

            <label for="categoriaImagen">Imagen de categoria:</label>
            <input type="file" name="categoriaImagen" id="categoriaImagen" accept="image/*">

            <button type="submit" class="logout-btn">Crear categoria</button>
        </form>         
    </section>

    <h2>Reportes visuales</h2>

    <form method="POST" action="/inicioAdmin/generarPDF">
        <button type="submit" class="logout-btn">Descargar PDF</button>
    </form>

    <section class="charts">
        <div class="chart-card">
            <h3>Usuarios por sexo</h3>
            <img src="{{grafUsuariosSexo}}" class="jpgraph-img">
        </div>

        <div class="chart-card">
            <h3>Usuarios por grupo de edad</h3>
            <img src="{{grafUsuariosEdad}}" class="jpgraph-img">
        </div>

        <div class="chart-card">
            <h3>Usuarios por país</h3>
            <img src="{{grafUsuariosPais}}" class="jpgraph-img">
        </div>

        <div class="chart-card">
            <h3>Usuarios por rol</h3>
            <img src="{{grafUsuariosRol}}" class="jpgraph-img">
        </div>

    </section>

    <form method="POST" action="/inicioAdmin/generarPDF">
        <button type="submit" class="logout-btn">Descargar PDF</button>
    </form>

</main>
</body>
</html>
