<title>Inicio</title>
<link rel="stylesheet" href="/public/css/vistas/inicioStyle.css">
<link rel="stylesheet" href="/public/css/componentes/headerComponente.css">
</head>

<body>

    <header class="header"> <!--El header toma la info del usuairo que se selecciono je-->
        <h2 class="titulo">Preguntados</h2>
        <div class="user-info">
            <form method="POST" action="/Preguntados/inicio/logout">
            <input class="logout-btn" type="submit" value="Cerrar sesión">
            </form>
            <p class="username">{{usuario}}</p>
            <img src="/{{foto_perfil}}" alt="{{usuario}}">
        </div>
    </header>

<div class="container">

    {{#sexo}}
    {{#esMasculino}}
        <h1>¡Bienvenido {{usuario}}!</h1>
    {{/esMasculino}}
    {{#esFemenino}}
        <h1>¡Bienvenida {{usuario}}!</h1>
    {{/esFemenino}}
    {{#esNoBinario}}
        <h1>¡Bienvenide {{usuario}}!</h1>
    {{/esNoBinario}}
    {{/sexo}}
    
    <div>
        <a href="/partida/jugar" class="boton">Jugar Preguntados</a>
        <a href="/ranking" class="boton">Ver Tabla de Puntajes</a>
        <a href="/partida/misDesafios" class="boton">Ver mis desafios</a>
        <a href="/nuevaPregunta" class="boton">Crea/Sugiere una pregunta</a>
    </div>

    {{#isEditor}}
       <a href="/inicioEditor/" class="btn btn-warning mt-3">Sos editor? Edite!</a>
    {{/isEditor}}

</div>

