<title>Panel de Administrador</title>
<link rel="stylesheet" href="/public/css/adminStyle.css">
<body>
<header class="header">
    <img src="/public/imagenes/Logo.png" alt="logo" class="logo">
    <form method="POST" action="/Preguntados/inicio/logout">
        <input class="logout-btn" type="submit" value="Cerrar sesión">
    </form>
</header>
<main class="container">
    <h1>Panel de Administración</h1>

    <section class="stats">
        <div class="chart-card">
            <h3>Usuarios nuevos</h3>
            <canvas id="jugadoresPorPeriodoChart"
                    data-dia="{{usuariosDia}}"
                    data-semana="{{usuariosSemana}}"
                    data-mes="{{usuariosMes}}"
                    data-anio="{{usuariosAnio}}">
            </canvas>
        </div>

        <div class="mini-cards">
            <div class="card">
                <p>{{usuariosNuevos}}</p>
                <h3>Total de jugadores</h3>
            </div>
            <div class="card">
                <p>0{{partidasJugadas}}</p>
                <h3>Partidas jugadas</h3>
            </div>
            <div class="card">
                <p>0{{preguntasTotales}}</p>
                <h3>Preguntas totales</h3>
            </div>
            <div class="card">
                <p>0{{preguntasCreadas}}</p>
                <h3>Preguntas creadas</h3>
            </div>
<!--            Aca hay que mandar datos por el controlador-->
        </div>
    </section>

    <section class="tabla">
        <h2>Gestión de Usuarios</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Mail</th>
                <th>Nombre completo</th>
                <th>Año nacimiento</th>
                <th>Sexo</th>
                <th>Pais</th>
                <th>% Correctas</th>
                <th>Rol</th>
                <th>Editar</th>
           </tr>
            </thead>
            <tbody>
            {{#usuarios}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{usuario}}</td>
                    <td>{{mail}}</td>
                    <td>{{nombre_completo}}</td>
                    <td>{{anio_nacimiento}}</td>
                    <td>{{sexo}}</td>
                    <td>{{pais}}</td>
                    <td>{{""}}</td>
                    <td>{{rol}}</td>
                    <td>
                        {{#esJugador}}
                            <form method="POST" action="/inicioAdmin/cambiarRol">
                                <input type="hidden" name="id_usuario" value="{{id}}">
                                <button type="submit" class="btn-cambiar">Hacer editor</button>
                            </form>
                        {{/esJugador}}
                        {{^esJugador}}
                            <span class="badge">{{rol}}</span>
                        {{/esJugador}}
                    </td>
                </tr> {{/usuarios}}
            </tbody>
        </table>
    </section>

    <section class="charts">
        <h2>Reportes visuales</h2>
        <div class="chart">
            <h3>Usuarios por país</h3>
        </div>
        <div class="chart">
            <h3>Usuarios por sexo</h3>
        </div>
        <div class="chart">
            <h3>Usuarios por grupo de edad</h3>
        </div>
    </section>
<!--    Completar esta parte-->

</main>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/public/js/cantidadJugadores.js"></script>

