<title>Inicio</title>
<link rel="stylesheet" href="../public/css/inicioStyle.css">
</head>

<body>

        <header class="header">
            <div>
            <span class="nombreUsuario">Usuario: {{usuario}}</span>
            </div>
            <h2 class="titulo">Preguntados</h2>
            <form method="POST" action="/Preguntados/inicio/logout">
                <input class="logout-btn" type="submit" value="Cerrar sesión">
            </form>
        </header>

<div class="container">
    <!--Estaria bueno que te dega bienvenida en caso de ser Muje`
    Y para los que no especifiquen su genero, tiramos un arroba (?-->
    <h1>Bienvenido {{usuario}}!</h1>
    
    <div>
        <a href="/partida/jugar" class="boton">Jugar Preguntados</a>
        <a href="/ranking" class="boton">Ver Tabla de Puntajes</a>
        <a href="/partida/misDesafios" class="boton">Ver mis desafios</a>
    </div>

    {{#isEditor}}
       <a href="/inicioEditor/" class="btn btn-warning mt-3">Sos editor? Edite!</a>
    {{/isEditor}}

</div>

