<title>Login</title>
<link rel="stylesheet" href="/public/css/vistas/loginStyle.css">
</head>

<body>
<a href="/paginaPrincipal"><img src="/public/imagenes/Logo.png" alt="logo" class="logo"></a>
<h1>PREGUNTADOS</h1>
<p class="subtitle">¿Estas listo para comenzar?</p>
<div>
<form method="POST" action="/login/login">
    {{#error}}
        <div class="error-message">{{error}}</div>
    {{/error}}
    <p>
        <input type="text" name="usuario" placeholder="Usuario" required>
    </p>

    <p>
        <input type="password" name="password" placeholder="Contraseña" required>
    </p>

    <p>
        <input type="submit" value="Ingresar">
    </p>
</form>

<p class="central">
    <a href="/register/registerForm" class="registrarse">Registrarse</a>
</p>

</div>

