<title>Preguntados</title>
<link rel="stylesheet" href="/public/css/paginaPrincipalStyle.css">

</head>

<body>
<a href="#"><img src="/public/imagenes/Logo.png" alt="logo" class="logo"></a>
<div class="container">
    <h1>PREGUNTADOS</h1>
    <p class="subtitle">Poné a prueba tus conocimientos en este desafío de preguntas y respuestas</p>

    <div class="button-container">
        <a href="/login/loginForm" class="btn">Iniciar Sesión</a>
        <a href="/register/registerForm" class="btn secondary">Registrarse</a>
    </div>
</div>

