<link rel="stylesheet" href="/public/css/vistas/paginaPrincipalStyle.css">

<body class="home text-light text-center d-flex flex-column justify-content-center align-items-center">

    <a href="#" class="logo-link">
        <img src="/public/imagenes/Logo.png" alt="Logo Preguntados" class="logo fade-in">
    </a>

    <div class="container-home fade-in">
        <h1 class="display-4 fw-bold text-uppercase mb-3">Preguntados</h1>
        <p class="lead mb-4 text-secondary">Poné a prueba tus conocimientos en este desafío de preguntas y respuestas</p>

        <div class="button-container">
            <a href="/login/loginForm" class="btn btn-custom">Iniciar Sesión</a>
            <a href="/register/registerForm" class="btn btn-secondary">Registrarse</a>
        </div>
    </div>
</body>
