<title>Partida</title>
<link rel="stylesheet" href="/public/css/inicioStyle.css">
<body>
<header class="header">
    <img src="/public/imagenes/Logo.png" alt="logo" class="logo">
    <form method="POST" action="/Preguntados/inicio/logout">
        <input class="logout-btn" type="submit" value="Cerrar sesión">
    </form>
</header>
<main class="container">
    <h1>Partida iniciada</h1>
    <p>Tu oponente es: <strong>{{nombreOponente}}</strong></p>
    <!--<p>Tu oponente es: <strong>{{idOponente}}</strong></p>-->
    
</main>
<script>
    window.addEventListener("beforeunload", function() {
        navigator.sendBeacon("/?controller=partida&method=finalizarPartida");
    });
</script>
</body>