<title>Partida</title>
<link rel="stylesheet" href="/public/css/inicioStyle.css">
<body>
<header class="header">
    <img src="/public/imagenes/Logo.png" alt="logo" class="logo">
    <link rel="stylesheet" href="/public/css/partidaStyle.css">
    <form method="POST" action="/Preguntados/inicio/logout">
        <input class="logout-btn" type="submit" value="Cerrar sesión">
    </form>
</header>
<main class="container">
    <h1>Partida iniciada</h1>
    <p>Tu oponente es: <strong>{{nombreOponente}}</strong></p>
    <!--<p>Tu oponente es: <strong>{{idOponente}}</strong></p>-->

    <p>La pregunta es: <strong>{{pregunta}}</strong></p>
    <div id="pregunta-container">

        {{#Respuestas}}
            <div class="list-group-item bg-dark text-light border border-secondary mb-3 rounded">
                <h5 class="mb-2">
                    <a href="#" class="link-info fw-bold">{{opcion}}</a>
                </h5>
            </div>
        {{/Respuestas}}


<!--                <h2 id="descripcionPregunta">hola</h2>-->
<!--                <div id="opciones">-->
<!--                    &lt;!&ndash; Las opciones de respuesta se generarán aquí &ndash;&gt;-->
<!--                    -->
<!--                -->
<!--                </div> -->
    </div>

<!--    <script>-->
<!--    fetch('/partida/obtenerPregunta')-->
<!--        .then(response => response.json())-->
<!--        .then(data => {-->
<!--            console.log('Pregunta obtenida:', data);-->
<!--            // Aquí puedes actualizar el DOM para mostrar la pregunta y las opciones-->
<!--            document.getElementById('descripcionPregunta').textContent = data.pregunta[0].descripcion;-->

<!--            const contenedorOpciones = document.getElementById('opciones');-->
<!--            contenedorOpciones.innerHTML = '';-->
<!--            -->

<!--            data.respuestas.forEach(opcion => {-->
<!--                var boton = document.createElement('button');-->
<!--                boton.className = 'opcion';-->
<!--                boton.textContent = opcion.descripcion; -->
<!--                console.log('Opción:', opcion);-->
<!--                contenedorOpciones.appendChild(boton);-->
<!--            });-->

<!--        })-->
<!--        .catch(error => {-->
<!--            console.error('Error al obtener la pregunta:', error);-->
<!--        });-->
<!--    </script>-->
    
    
</main>
<script>
    window.addEventListener("beforeunload", function() {
        navigator.sendBeacon("/?controller=partida&method=finalizarPartida");
    });
</script>
</body>