<title>Partida</title>
<link rel="stylesheet" href="/public/css/partidaStyle.css">
<link rel="stylesheet" href="/public/css/componentes/headerComponente.css">
<body>
  <header class="header"> 
    <h2 class="titulo">Preguntados</h2>
    <div class="user-info">
        <form method="POST" action="/Preguntados/inicio/logout">
        <input class="logout-btn" type="submit" value="Cerrar sesión">
        </form>
        <p class="username">{{usuario}}</p>
        {{#foto_perfil}}
            <img src="/{{foto_perfil}}" alt="{{usuario}}" class="img-fluid rounded-circle" width="50" height="50">
        {{/foto_perfil}}

        {{^foto_perfil}}
            <img src="/public/imagenes/usuarioImagenDefault.png" alt="{{usuario}}" class="img-fluid rounded-circle" width="50" height="50">
        {{/foto_perfil}} 
    </div>
  </header>
<main class="container">
    <h1>Partida Finalizada</h1>
    <p>Tu oponente es: <strong>{{nombreOponente}}</strong></p>
    <p>Cantidad de preguntas Respondidas: <strong>{{puntaje}}</strong></p>

    <p>Pregunta: <strong>{{pregunta}}</strong></p>
    <p>Su respuesta era: <strong>{{respuestaCorrecta}}</strong></p>

    <div>
        <!--De momento voy a hacer que siempre pase la misma pregunta
        Una vez este la partida definida esto se puede cambiar y la funcionalidad va a 
        funcionar igual-->
        <a href="/reportarPregunta?id=1" class="boton">Reportar Pregunta</a>
        <a href="/inicio/" class="boton">Volver</a>
    </div>
</main>
</body>