<title>Lista de Preguntas</title>
  <link rel="stylesheet" href="/public/css/vistas/preguntasListaStyle.css">
  <link rel="stylesheet" href="/public/css/componentes/headerComponente.css">
</head>

<body>

  <header class="header"> 
    <h2 class="titulo">Preguntados</h2>
    <div class="user-info">
        <form method="POST" action="/Preguntados/inicio/logout">
        <input class="logout-btn" type="submit" value="Cerrar sesión">
        </form>
        <p class="username">{{usuario}}</p>
    </div>
  </header>

<main class="container">
  <h1>Lista de Preguntas</h1>
  <p class="descripcion">
    Acá podés ver, editar, aprobar o eliminar las preguntas.<br>
    También podés filtrarlas según su tipo: reportadas, sugeridas o activas.
  </p>

  <section class="pregunta-card">
    {{#preguntas}}
    <div class="pregunta-card">
      <div class="pregunta-header">
        <a href="/gestionarPregunta?tipo={{tipo}}&id={{pregunta_id}}" class="pregunta-titulo">
          {{pregunta}}
        </a>
      </div>

      {{#cantidad_reportes}}
      <p class="meta-info danger"><strong>Reportes:</strong> {{cantidad_reportes}}</p>
      {{/cantidad_reportes}}

      {{#usuario_sugirio}}
      <p class="meta-info warning"><strong>Sugerida por:</strong> {{usuario_sugirio}}</p>
      {{/usuario_sugirio}}

      <ul class="respuestas">
        {{#respuestas}}
        <li class="respuesta {{#es_correcta}}correcta{{/es_correcta}}">
          <span>{{descripcion}}</span>
          {{#es_correcta}}<span class="badge">✔</span>{{/es_correcta}}
        </li>
        {{/respuestas}}
      </ul>
    </div>
    {{/preguntas}}

    {{^preguntas}}
    <div class="alerta">No hay preguntas disponibles.</div>
    {{/preguntas}}
  </section>

  <div class="volver-contenedor">
    <a href="/inicioEditor/" class="btn-volver">Volver</a>
  </div>
</main>